<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link href="../resources/css/common.css" rel="stylesheet" />
  <title>한국 폐암환우회</title>
</head>
<body>
<nav class="navbar navbar-expand-sm" style="margin-top: 1%; margin-bottom: 1%;">
  <div class="container-fluid">
    <div class="logo-li"><a href="/"><img src="../resources/images/logo.png" class="imgLogo"></a></div>

    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">소개</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/greeting">인사말</a>
            <a class="dropdown-item" href="/trace">발자취</a>
            <a class="dropdown-item" href="/tree">조직도</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사업 안내</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/breath_program">새숨 프로그램</a>
            <a class="dropdown-item" href="/breath_walk">새숨 걷기</a>
            <a class="dropdown-item" href="/activity">대외 활동</a>
            <a class="dropdown-item" href="/consult">새숨 전화 상담</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">암 치료정보</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/question">자주 묻는 질문</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">소식</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/notice">공지사항</a>
            <a class="dropdown-item" href="/gallery">폐암환우회 활동</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">후원</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/donation">후원금 운영</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="sub_header">
    <div class="sub_category">
      <div class="sub_menu">
        <a href="/greeting"><span class="sub_menu_text">인사말</span></a>
      </div>
      <div class="sub_menu">
        <a href="/trace"><span class="sub_menu_text">발자취</span></a>
      </div>
      <div class="sub_menu">
        <a href="/tree"><span class="sub_menu_text">조직도</span></a>
      </div>
    </div>

  </div>
  <div class="content" style=" background-color: #E6E6E5; padding:3%; margin : 2%; font-size:large; line-height: 170%;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <img src="../resources/images/people.png" style="    height: 40%;
    width: 40%;
    /*float:left;*/
    margin-right:2%;
    margin-bottom: 1%;">
      사랑하는 환우회 가족 여러분,<BR/><BR/>
      저희 한국폐암 환우회는 우리 폐암 환자들이 겪고 있는 열악한 치료 환경을 개선하겠다는 큰 뜻을 품고, 2020년 5월에 발족하여, 시급한 중점 사업으로 폐암 치료제, 신약의 건강보험 신속 등재에 집중하면서, 국회, 보건복지부, 대한 의사협회, 대한 폐암학회 및 국립 암센터 등 관련 의료기관과 각 언론사와의 활발한 대외 활동을 전개하여, 숙원이었던 키트루다를   1차 치료제로 급여화 하였고, 로비큐아의 급여화와 타그리소의 1차 치료제 급여화 및 다른 폐암 치료제들의 조속한 보험 급여화를 위하여 꾸준히 노력하여 왔습니다.<BR/><BR/>
      그러나, 창립 이후, 코로나 팬데믹 상황에서 활동에 많은 제약을 받아오면서도, 환우들에게 도움이 되는 각종 치료 정보를 제공하여 왔으며, 자체적으로 환자의 입장에서 유튜브를 제작하고, 환우들의 정서 안정에 도움이 되는 새숨 프로그램, 새숨 걷기 등의 활동을 진행하여 왔으나, 돌아보면, 부족한 점이 많았음을 절감하면서, 앞으로 개선 발전시켜 나가겠습니다.<BR/><BR/>
      폐암 극복을 위한 우리의 노력은 비록 어렵고 힘이 들더라도 절대로 포기할 수 없는 투쟁이기에 우리 모두가 함께 지혜와 힘을 모아서 이루어 나가야 할 절대절명의 과제이며, 우리는 반드시 극복해 낼 것입니다.<BR/><BR/>
      앞으로, 저희 환우회가 명실공히 환우들을 위한 모임으로 알차게 발전할 수 있도록 환우들의 적극적인 동참과 관계기관의 지도와 협조를 바라 마지 않습니다.<BR/><BR/>
    </div>
    <div style="margin-top: 1%; text-align:center;  font-size:x-large;">
       2023년 6월 19일
    </div>
    <div style=" text-align:right; font-size: xx-large; line-height:140%;">
        한국폐암환우회 회장<br />
        이  건 주<br />
    </div>

  </div>
<footer>
  비영리법인 한국폐암환우회 | 고유번호 : 507- 82 -72452 | 주소 : 경기도 김포시 고촌읍 김포대로 340, 1동 703호 (김포뉴시티) | Tel : 010-4467-8275
</footer>
</body>
</html>
