<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link href="../resources/css/common.css" rel="stylesheet" />
    <title>한국 폐암환우회</title>
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div class="logo-li"><a href="/"><img src="../resources/images/logo.png" class="imgLogo"></a></div>

            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">소개</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/organization">폐암환우회</a>
                            <a class="dropdown-item" href="/greeting">인사말</a>
                            <a class="dropdown-item" href="/trace">발자취</a>
                            <a class="dropdown-item" href="/tree">조직도</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사업 안내</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/breath_program">새숨 프로그램</a>
                            <a class="dropdown-item" href="/breath_walk">새숨 걷기</a>
                            <a class="dropdown-item" href="/breath_call">새숨 전화 상담</a>
                            <a class="dropdown-item" href="/breath_flower">새봄 맞이 꽃씨 보내기</a>
                            <a class="dropdown-item" href="/youtube">유튜브</a>
                            <a class="dropdown-item" href="/hospital">환우 방문 및 병원 동행</a>
                            <a class="dropdown-item" href="/activity">대외 활동</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">후원</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/donation">후원 신청</a>
                            <a class="dropdown-item" href="/donation_manage">후원금 운영</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">암 치료정보</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/lung">폐암이란</a>
                            <a class="dropdown-item" href="/medicine">약 종류</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">소식</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/notice">공지사항</a>
                            <a class="dropdown-item" href="/gallery">갤러리</a>
                            <a class="dropdown-item" href="/news">복지 뉴스</a>
                        </div>
                    </li>
                    <!--                    <li class="nav-item ms-auto"> &lt;!&ndash; ms-auto 클래스로 변경 &ndash;&gt;-->
                    <!--                        <a class="nav-link" href="#">관리자 로그인</a>-->
                    <!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="middle">
        <div class="sub_header">
            <div class="sub_category">
                <div class="sub_menu">
                    <a href="/organization"><span class="sub_menu_text">폐암환우회</span></a>
                </div>
                <div class="sub_menu">
                    <a href="/greeting"><span class="sub_menu_text">인사말</span></a>
                </div>
                <div class="sub_menu">
                    <a href="/trace"><span class="sub_menu_text">발자취</span></a>
                </div>
                <div class="sub_menu">
                    <a href="/tree"><span class="sub_menu_text">조직도</span></a>
                </div>
            </div>

        </div>
        <div class="content_outer">
                <img src="../resources/images/tree.png" class="tree_img">
            조직도 많이 고칠것ㅇㅇddㅎㅎ
            정보받아와야 할 수 있음 ..
        </div>

    </div>
</div>



<footer>
    비영리법인 한국폐암환우회 | 고유번호 : 507- 82 -72452 | 주소 : 경기도 김포시 고촌읍 김포대로 340, 1동 703호 (김포뉴시티) | Tel : 010-4467-8275
</footer>
</body>
</html>
