* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;

    /*font-family: Arial, sans-serif;*/

}

html,body{
    height:100%;
}

#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* 요소의 최소 너비 지정, height 속성 무시
    vh: 브라우저 안쪽높이(window.innerHeight)을 기준으로 설정된다.
    하지만 태블릿이나 모바일의 경우에는 뷰포트에 따라 맞춰짐*/
    min-height: 10vh;
    font-size: 1.485rem;
}

.navbar-nav{
    width:100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
}

.navbar-nav li{
    list-style: none;
}

.navbar-nav li a{
    color:#626262;
    text-decoration: none;

}

.navbar-nav .nav-link:hover {
    color: #1976D2; /* 원하는 색상으로 변경 */
}

.navbar-nav li:not(:last-child) {
    padding-right: 1rem;
}
/*
드롭다운
 */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    width:180px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
}

.dropdown-toggle::after {
    display: none;
}

.logo-li{
    width:30%;
    margin:1%;
    vertical-align: middle;
}

.imgLogo {
    /*width: 300px;*/
    /*height: 60px;*/
    width: 70%;
    height:50%;
}

.main_content{
    margin:2%;
}

.sub_header{
    width: 100%;
    background-color: #BDCBDA;
    justify-content: center;
}

a{
    text-decoration: none;
    color:red;
}

li{
    list-style: none;
}

.sub_category {
    width: 100%;
    margin-bottom: 1%;

    display: flex;
    justify-content: center;

    overflow: hidden;
}
/*세부카테고리 요소 정렬*/
.sub_menu {
    float: left;
    margin: 0 2.5%;
    padding: 1%;
}
/*세부 카테고리 텍스트 설정*/
.sub_menu_text {
    text-align: center;
    /*text-decoration-line: underline;*/
    color: #505050;
    font-size: 1.125rem;
}
.sub_menu :hover{
    color: #000000;
}

footer{
    position: relative; (absolute -> relative)
    transform: translatY(-100%);
    /*위에 두개 없애도 되면 없애자*/
    background-color: #626262;
    width: 100%;
    height: 10%;
    color:#fff;
    display: flex; align-items: center; justify-content: center;
    bottom: 0;
}

