
.content{
    width: 90%;
    font-size:large;
    line-height: 170%;

}

.content_outer{
    display: flex; align-items: center; justify-content: center;

}

.text_right{
    text-align:right;
    font-size: xx-large;
    line-height:140%;
}

.text_center{
    text-align:center;
    font-size:x-large;
}

.people_img{
    height: 40%;
    width: 40%;
    float:left;
    margin-right:2%;
    margin-bottom: 1%;
}

.tree_img{
    width:30%;
    height: 30%;
    padding-top: 8%;

}


@media screen and (max-width: 768px) {
    .content_outer {
        padding: 0 15px; /* 내용의 좌우 여백을 줄입니다. */
    }

    .people_img {
        float: none; /* 이미지의 float 해제 */
        margin: 0 auto; /* 이미지를 가운데로 정렬 */
        display: block; /* 블록 레벨 요소로 설정 */
        width: 70%; /* 이미지의 가로 너비 조정 */
        height: auto; /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
        margin-bottom: 10px; /* 아래 여백 추가 */
    }
}
