
.content{
    width: 90%;
    /*background-color: #E0E0E0;*/
    font-size:large;
    line-height: 170%;

}

.content_outer{
    display: flex; align-items: center; justify-content: center;

}


.text_right{
    text-align:right;
    font-size: xx-large;
    line-height:140%;
}

.text_center{
    text-align:center;
    font-size:x-large;
}

.people_img{
    height: 40%;
    width: 40%;
    float:left;
    margin-right:2%;
    margin-bottom: 1%;
}

.tree_img{
    width:30%;
    height: 30%;
    padding-top: 8%;

}

