
.parent{
    padding:1%;
    height: 50vh;
}

.noti{
    font-size: 150%;
    padding-bottom: 1%;
}
.first {
    background-color: white;
    color:#626262;
    float: left;
    width:30%;
    height:80%;
    box-sizing: border-box;
}

.second{
    background-color: white;
    color:#626262;
    float: left;
    margin-left: 5%;
    width:30%;
    height:80%;
    box-sizing: border-box;
}

.third{
    background-color: white;
    color:#626262;
    float: right;
    width:30%;
    height:80%;
    box-sizing: border-box;
}

.outer{
    justify-content: center;
    text-align: center;
}

.bottom_info{
    width:25%;
    height:100%;
    text-align: center;
    bottom: 0;

}

.bottom_logo{
    width:18%;
}

.keyword{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 2%;
}

.index_img{
    width:100%;
}

.consult_outer{
    position:relative;
}
.consult_btn{
    position: absolute;
    bottom: 500px;
    right: 200px;
    height: 110px;
}