#all{
    width:100%;
    min-width: 1620px;
}
.shortcut_outer{
    width:100%;
    min-width: 1620px;
    display: flex;
    padding-top: 30px;
    margin-left:3%;
    margin-right:3%;
}

.third{
    background-color: white;
    color:#626262;
    height:80%;
    box-sizing: border-box;
}

.outer{
    justify-content: center;
    text-align: center;
}

.bottom_info{
    width:25%;
    height:100%;
    text-align: center;
    bottom: 0;

}

.bottom_logo{
    width:18%;
}

.keyword{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 2%;
}

.index_img{
    width:100%;
    min-width: 1620px;
}

.shortcut_left{
    height: 200px;
    display: flex;
    width:60%;
    padding-top: 30px;
}

.shortcut_right{
    width:40%;
    height: 200px;
}

.shortcut_element{
    margin-right: 20px;
    text-align: center;
}
.shortcut_img{
    position: relative;
    width: 50%;
}

.shortcut_left p{
    font-size: 30px;
    font-weight: 400;
    color:#626262;
}

.shortcut_right p{
    font-size: 20px;
    color:#626262;
}
