
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color:#404040;
}


li{
    list-style: none;
}



.sub_category {
    width: 100%;
    margin-bottom: 1%;

    display: flex;
    justify-content: center;

    overflow: hidden;
}
/*세부카테고리 요소 정렬*/
.sub_menu {
    float: left;
    margin: 0 2.5%;
    padding: 1%;
}
/*세부 카테고리 텍스트 설정*/
.sub_menu_text {
    text-align: center;
    /*text-decoration-line: underline;*/
    color: #505050;
    font-size: 1.125rem;
}
.sub_menu :hover{
    color: #000000;
}
